.header {
  display: flex;
  align-items: center;
  background-color: #ffff;
  padding: 91px 87px 90px 51px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__links-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__links-list-item {
  list-style-type: none;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  list-style-type: circle;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header_logo {
  margin-left: 40px;
}

.header__logo-image {
  height: 105px;
  width: 148px;
}

.header__address {
  margin-left: auto;
}

.address {
  display: flex;
  flex-direction: column;
}

.address__list {
  list-style: none;
}

.address__link {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration: dashed;
  border-bottom: 1px solid #000;
}

.address__text {
  line-height: 24.3px;
  font-style: normal;
  font-size: 18px;
}

.cover {
  background: url('../images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 50px 50px 50px;
  position: relative;
  z-index: 1;
}

.cover__title {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.align__text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18px;
  padding-left: 28px;
}

.bet-button {
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffff;
  padding: 12px 32px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: -1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.lots {
  position: relative;
  padding: 179px 24px 146px 24px;
}

.lots__heading {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 0 27px 0;
  list-style: none;
  
}

.card-link {
  text-decoration: none;
}

.card__title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg');
}

.card {
  position: relative;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 52px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__look-more-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  display: flex;
  gap: 0 72px;
  padding: 40px 24px 0 71px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  height: 112px;
  width: 142px;
}

.about__column {
  width: 693px;
}

.about__title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
}

.about__text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 186px 50px 70px 50px;
}

.footer__menu {
  margin-left: 35px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.footer__menu-link_active {
  border-bottom: none;
}
